* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Segoe UI', sans-serif;
	outline: none;
	border: none;
	color:rgb(238, 236, 236);
	
}

html, body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	background-color: black;
	
  }



.align {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 1px;
	padding-top: 0px;


}



.card8 {
	
	height: 100%;
	width: 98%;
	border: 1px solid white;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
	margin-left: 3px;
	margin-right: 2px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 0;
	}


	.title8{
	
        width: 70%;
        height: 70px;
        text-align: center; 
	   
        
}

	.header8{
		text-align: center;
	
	
	}
	b.rtl {
		text-align: right;
		color:white;
		padding-left: 10px;
		padding-top:5px;
		font-size: 13.4px;
	   
	}



	b{
		background: none;
		color: #0A0A0A;
		font-size: 18px;
		float:right;
	
	}
	