* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Segoe UI', sans-serif;
	outline: none;
	border: none;
	color:rgb(238, 236, 236);
	
}

html, body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	background-color: black;
	
  }

  .cont4{
	height:100%;
	
  }

.align {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 1px;
	padding-top: 0px;


}



.card4 {
	
	height: 100%;
	width: 98%;
	border: 1px solid white;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
	margin-left: 3px;
	margin-right: 2px;

	}


	.title{
	
        width: 70%;
        height: 80px;
        text-align: center; 
		margin-bottom: 10px;   
        
}

	.header4{
		text-align: center;
		

	}

	

	.text p{
		background-color: rgb(143, 140, 140);
		padding-left: 25px;
		padding-top: 10px;
		padding-right: 10px;
		margin: 10px;
		float: right;
		padding-bottom: 10px;
		
	}



	b{
		background: none;
		color: #0A0A0A;
		font-size: 18px;
		float:right;
	
	}
	