* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Segoe UI', sans-serif;
	outline: none;
	border: none;
	color:rgb(238, 236, 236);	
}

html, body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	background-color: black;	
  }

.cont2{
	height:100%;
	
  }


.align {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

.card6 {
	height: 100%;
	width: 100%;
	border-radius: 1px;
	overflow: hidden;
	transition: max-height 0.2s;
	}


.header1{
		text-align: center;	
	 }
	
	 .logo1{
		 height: 60px;
		 padding-top: 8px;
	 }
    
.pic {
	width: 100px;
	padding-top: 5px;
}

h4{
    text-align: center;
}









