* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Segoe UI', sans-serif;
	outline: none;
	border: none;
	background: #0A0A0A;
	color:rgb(238, 236, 236);
	
}

html, body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%
  }

.align {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 3px;
	padding-top: 0px;
}



.about {
	height: 40px;
}

.card2 {
	margin-top: 10px;
	height: 100%;
	width: 350px;
	background: #121212;
	border: 1px solid white;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
}


.gender{
	width: 100%;
	padding-top: 2px;
	padding-bottom: 4px;
	font-family: "sans-serif";
	text-align: center;
}

.age{
	padding-top: 5px;
	padding-bottom: 10px;
	font-family: "sans-serif";
	width: 100%;
}

.role{
	width: 100%;
	text-align: center;
}


label img {
	display: block;
	width: 100px;	
	border-radius: 50%;
}

.gender-radio{
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio]:checked + img {

	box-shadow: -1px -2px 4px rgba(204, 215, 218, 0.521),
				 5px 5px 8px rgba(255, 255, 255, 0.603);
}

.role-radio{
	opacity: 0;
	width: 40px;
	height: 20px;
}

.role label{
	
	font-size: 20px;
	text-align: center;
	line-height: 20px;
}

.role label h5{
	border-radius: 10px;
}

.role [type=radio]:checked + h5{

	box-shadow: -1px -2px 4px rgba(212, 16, 26, 0.521),
				 5px 5px 8px rgba(151, 11, 11, 0.603);
}




	
  
  
 


  





  
  
  