* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Segoe UI', sans-serif;
	outline: none;
	border: none;
	background: #0A0A0A;
	color:rgb(238, 236, 236);
	
}

div.row{
	margin: 0;
	padding: 0;
	width:100%;
}

div.col{
	margin: 0;
	padding: 0;
}

label h5{
	text-align: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	height: 100%;
}


html, body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%
  }

.align {
	height: 80%;
	max-height: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 3px;
	padding-top: 0px;
}

.next{
	width: 100%;
	text-align: center;
}

.about {
	height: 40px;
	margin: auto;
}

.card2 {
	width: 100%;
	max-height: none;
	background: #121212;
	border: 1px solid white;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
	margin-right: 0;
	margin-left: 0;
}


.gender{
	width: 100%;
	padding-top: 2px;
	padding-bottom: 4px;
	font-family: "sans-serif";
	text-align: center;
}

.age{
	padding-top: 5px;
	padding-bottom: 10px;
	font-family: "sans-serif";
	width: 100%;
}

.job{
	margin: 0;
	width: 100%;
	text-align: center;
}

.educ{
	width: 100%;
	text-align: center;
}


label img {
	display: block;
	width: 100px;	
	border-radius: 50%;
}

.gender-radio{
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio]:checked + img {

	box-shadow: -1px -2px 4px rgba(204, 215, 218, 0.521),
				 5px 5px 8px rgba(255, 255, 255, 0.603);
}

.job-radio{
	opacity: 0;
	width: 40px;
	height: 20px;
}

.job label{
	
	font-size: 10px;
	text-align: center;
	line-height: 15px;
}

.job label h5{
	border-radius: 10px;
	line-height: 20px;
	background: #33adff;
	height: 50px;
	width: 85px;
}

.job [type=radio]:checked + h5{

	box-shadow: -1px -2px 4px rgba(204, 215, 218, 0.521),
				 5px 5px 8px rgba(255, 255, 255, 0.603);
}

.educ-radio{
	opacity: 0;
	width: 40px;
	height: 20px;
}

.educ label{
	
	font-size: 10px;
	text-align: center;
	line-height: 15px;
}

.educ label h5{
	border-radius: 10px;
	line-height: 20px;
	background: #33adff;
	height: 50px;
	width: 85px;
}

.educ [type=radio]:checked + h5{

	box-shadow: -1px -2px 4px rgba(204, 215, 218, 0.521),
				 5px 5px 8px rgba(255, 255, 255, 0.603);
}

.ioQuestion{
	margin:auto;
}

.multi-radio{
	opacity: 0;
	width: 40px;
	height: 20px;
}

.multi-Choice label{
	
	font-size: 20px;
	text-align: center;
	line-height: 20px;
}

.multi-Choice label h5{
	border-radius: 10px;
	line-height: 20px;
	background: #33adff;
	height: 40px;
	width: 60px;
}


.multi-Choice label h6{
	border-radius: 10px;
	line-height: 20px;
	background: #33adff;
	height: 65px;
	width: 150px;
	justify-content: center;
  	align-items: center;
	text-align: center;
	display: flex;
	
}

.multi-Choice [type=radio]:checked + h5{

	box-shadow: -1px -2px 4px rgba(204, 215, 218, 0.521),
				 5px 5px 8px rgba(255, 255, 255, 0.603);
}

.multi-Choice [type=radio]:checked + h6{

	box-shadow: -1px -2px 4px rgba(204, 215, 218, 0.521),
				 5px 5px 8px rgba(255, 255, 255, 0.603);
}

div.swal-text{
	background: white;

}
div.swal-footer{
	background: white;
}
div.swal-title{
	background: white;
}
div.swal-icon.swal-icon--error{
	background: white;
}
div.swal{
	background: white;
}
button.swal-button.swal-button-confirm{
	background: white;
}
div.swal-icon--success__ring{
	background: white;
}
div.swal-button-container{
	background: white;
}

#multi-explain{
	border-radius: 10px;
	line-height: 20px;
	height: 40px;
	width: 60px;
	background: none;
}

.multi-Choice{
	border-bottom: 2px solid white ;
}


	
  
  
 


  





  
  
  