.about2{
    height:50px;
    width: 100%;
    background-color: #fff;
    border: none;
}

.align2 {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 8px;
}

html{
    width: 100%;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
 .about2 .logo{
    background-color: #fff;
    border: none;
    
 }
 .header{
     width:100%;
 }

 .for-intro{
    width:100%;
    padding: 0;
    margin: 0;   
}

.outline{
    width: 10%;
    background-color: #fff;
}
 .guessOption{
     color: black;
     direction:ltr;
 } 
 
 #guess{
    direction: rtl;
    width: 100%;
 }

 #profileGuess{
    position: absolute;
    bottom: 10px;
    right: 5px;
 }
.recharts-wrapper fade-enter-done{
    width:100%;
}
.recharts-surface{
    width:100%;
}
 

 .recharts-tooltip-label,
 .recharts-tooltip-item-name,
 .recharts-tooltip-item-separator,
 .recharts-tooltip-item-value{
     color: black;
 }

 .recharts-legend-wrapper{
     bottom: -50px;
 }

 #boldProf{
     color: #33adff;
     direction: rtl;
 }

 .lbl {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.Dater{
    float: center;
    text-align: center;
    display: block;
}



#SDate, #EDate{
    padding-right: 90px;
    padding-bottom: 10px;
    background: lightgrey;
    color: black;
}

.recharts-surface{
    padding-left: 15px;
}

#getInfoBTN{
    background-color: #33adff;
}

.hm{  font-family: sans-serif;
    text-align: center;
  }

