.about{
    height:50px;
    width: 100%;
    background-color: #fff;
    border: none;
}

html{
    width: 100%;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
 .about .logo{
    background-color: #fff;
    border: none;
    
 }
 .header{
     width:100%;
 }

 .for-intro{
    width:100%;
    padding: 0;
    margin: 0;   
}

.outline{
    width: 10%;
    background-color: #fff;
}
